(spawn_rate:0.1,spawn_amount:500,emission_shape:Circle(0.0),lifetime:(3.0,0.5),linear_speed:Some((1000.0,0.5)),linear_acceleration:Some((0.0,0.0)),direction:Some(((0.0,1.0),0.3)),angular_speed:Some((10.0,0.1)),angular_acceleration:Some((0.0,0.0)),scale:Some((100.0,0.0)),color:None,gravity_direction:Some(((0.0,-1.0),0.0)),gravity_speed:Some((500.0,1.0)),linear_damp:Some((30.0,0.8)),angular_damp:Some((1.0,0.0)),scale_curve:Some((points:[(10.0,0.0,None),(10.0,0.15,Some(BounceOut)),(1.0,0.15,Some(SineOut))])),color_curve:Some((points:[((red:0.9484073,green:0.37821338,blue:0.37821338,alpha:1.0),0.0,None),((red:0.21493901,green:0.47699985,blue:0.17750177,alpha:1.0),0.2,None),((red:0.006995418,green:0.21586034,blue:0.5149177,alpha:1.0),0.3,None),((red:0.2,green:0.2,blue:0.2,alpha:1.0),0.4,None),((red:0.5,green:0.5,blue:0.5,alpha:1.0),1.0,None)])))